// Place all the styles related to the alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

body {
  background-color: #EAEFF4;
}

.priceInfoBanner {
  border-bottom: 1px solid black;
  text-align: center;
  border-radius: 0;
}

.container-fluid {
  text-align: center;
}

.topContainer {

  .alertFormContainer {
    display: inline-block;
    border: 1px solid #2E2F30;
    background-color: #EFEFEF;
    padding: 10px;
    margin-top: 30px;
    text-align: center;

    .form-group {
      margin: 0 10px;
    }

    label {
      margin-bottom: 0;
    }

    .btn {
      margin: 12px auto 0;
      display: block;
    }

    .dropdown {
      display: inline-block;
    }

    .dropdown-menu {
      cursor: pointer;
    }

    #stockInput {
      width: 400px;
    }

    .stockField {
      display: none;
    }
  }
}

.bottomContainer {
  position: relative;
  right: 0;
  text-align: center;

  .chartsContainer {
    margin: 20px auto 0;

    div {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media (max-width: 650px) {
  .topContainer {
    display: block;
    width: 100%;
  }
  .bottomContainer {
    float: none;
  }
}