// Place all the styles related to the alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert-form-container {
  display: inline-block;
  border: 1px solid #2E2F30;
  background-color: #EFEFEF;
  padding: 10px;
  text-align: center;
}

.inline {
  display: inline;
}